<header class="w-full">
  <div class="header-container">
    <div class="min-w"></div>
    <div class="header-details max-w">
      <div class="logo-section">
        <a href="" class="logo">CHRISTIAN</a>
      </div>
      <div class="links">
        <a href="#about">About me</a>
        <a href="#skills">Skills</a>
        <a href="#portfolio">Portfolio</a>
        <div class="burger-menu dp" (click)="toggleMenu()">
          <div [class.open]="isOpen" class="icon"></div>
        </div>
      </div>
    </div>
    <div class="min-w"></div>
  </div>
</header>
<main
  [ngClass]="{ open: menuState === 'open', close: menuState === 'close' }"
  class="w-full"
></main>
<div
  [ngClass]="{ open: menuState === 'open', close: menuState === 'close' }"
  class="links-menu"
>
  <div>
    <a href="#about" (click)="closeMenu()">About me</a>
    <a href="#skills" (click)="closeMenu()">Skills</a>
    <a href="#portfolio" (click)="closeMenu()">Portfolio</a>
    <a href="#contact" (click)="closeMenu()">Contact</a>
  </div>
</div>
