<div id="about"></div>
<main class="w-full p-top">
  <div class="about-me-container">
    <div class="green-line min-w invisible"></div>
    <div class="about-me-details max-w">
      <section class="text-section">
        <h1>About me</h1>
        <div class="description">
          <p>
            Hi, I’m a german speaking Frontend Developer based near Munich.
            Motivated by the limitless opportunities within IT, I am excited
            about crafting visually captivating and intuitive websites and
            applications.
          </p>
          <ul>
            <li>
              <i>
                <img src="./assets/img/icon-location.svg" alt="" />
              </i>
              <p>
                Flexible in terms of working environments, I can work
                effectively both on-site in Munich and remotely.
              </p>
            </li>
            <li>
              <i>
                <img src="./assets/img/icon-lightbulb.svg" alt="" />
              </i>
              <p>
                I am open-minded and always looking for personal challenges to
                constantly improve my knowledge and skills.
              </p>
            </li>
            <li>
              <i>
                <img src="./assets/img/icon-puzzle.svg" alt="" />
              </i>
              <p>
                In my profession, programming isn't just about writing code;
                it's a creative form of problem-solving. I take pride in my
                ability to distill complex technical challenges into simple,
                user-friendly solutions. This way, I help you achieve your goals
                and bring your visions to life.
              </p>
            </li>
          </ul>
        </div>
      </section>
      <section class="image-section">
        <div class="profile-image">
          <img
            src="./../../../assets/img/about-me-profile.jpg"
            alt="Profile Image"
          />
        </div>
      </section>
    </div>
    <div class="green-line min-w"></div>
  </div>
</main>
