<main class="w-full">
  <div class="gradient-container"></div>
  <div class="border-container"></div>
  <div class="hero-container">
    <div class="min-w"></div>
    <section class="hero-details max-w">
      <div class="hero-image">
        <img src="./assets/img/profile-image.png" alt="" />
      </div>
      <aside>
        <div class="title">
          <h3>I am</h3>
          <div>
            <h1>Christian Kaden</h1>
            <h2>FRONTEND DEVELOPER</h2>
          </div>
        </div>
        <a class="btn" href="#contact">Let's talk!</a>
      </aside>
    </section>
    <div class="min-w"></div>
  </div>
</main>
<footer class="w-full">
  <div class="contact-info">
    <div class="purple-line min-w"></div>
    <div class="contact-details max-w">
      <a href="https://github.com/" target="_blank"
        ><img src="./assets/img/icon-gitHub.svg" alt=""
      /></a>
      <a href="mailto:christian.kaden.dev@gmail.com"
        ><img src="./assets/img/icon-mail.svg" alt=""
      /></a>
      <a
        href="https://linkedin.com/in/christian-kaden-5a9198203"
        target="_blank"
        ><img src="./assets/img/icon-linkedIn.svg" alt=""
      /></a>
      <span class="mail">christian.kaden.dev&#64;gmail.com</span>
    </div>
    <div class="purple-line invisible"></div>
  </div>
</footer>
