<main class="w-full m-top">
  <div class="references-container">
    <!-- <img
      class="quotation-marks"
      src="./../../../assets/img/quotation-marks.svg"
      alt=""
    /> -->
    <div class="purple-line min-w invisible"></div>
    <div class="references-details max-w">
      <section class="image-section dp-media">
        <div class="purple-line invisible"></div>
        <div class="profile-image">
          <img
            src="./../../../assets/img/about-me-profile.jpg"
            alt="Profile Image"
          />
        </div>
        <div class="purple-line"></div>
      </section>
      <section class="bubble-section">
        <p>
          It was a great pleasure to work with Michael. He knows how to push and
          encourage team members to present the best work possible, always
          adding something to brainstorm. Regarding the well-being of group
          members, he was always present and available to listen and help
          others, with a great sense of humor as well.
        </p>
        <div class="alias">
          <div class="purple-line-thin"></div>
          <span>I.Nuber - Frontend Engineer</span>
        </div>
      </section>
      <section class="image-section dp">
        <div class="purple-line"></div>
        <div class="profile-image">
          <img
            src="./../../../assets/img/about-me-profile.jpg"
            alt="Profile Image"
          />
        </div>
        <div class="purple-line"></div>
      </section>
    </div>
    <div class="purple-line min-w top"></div>
  </div>
  <nav></nav>
</main>
