<div id="skills"></div>
<main class="w-full p-top">
  <div class="skills-container">
    <div class="purple-line min-w invisible"></div>
    <div class="skills-details max-w">
      <section class="text-section media">
        <h1>My Skills</h1>
        <div class="description">
          <p>
            I have gained experience in building projects with different
            frontend technologies and concepts.
          </p>
        </div>
      </section>
      <section class="image-section">
        <ul>
          <li>
            <i>
              <img src="./../../../assets/img/icon-html.svg" alt="" />
            </i>
            <span>HTML</span>
          </li>
          <li>
            <i>
              <img src="./../../../assets/img/icon-css.svg" alt="" />
            </i>
            <span>CSS</span>
          </li>
          <li>
            <i>
              <img src="./../../../assets/img/icon-javascript.svg" alt="" />
            </i>
            <span>JavaScript</span>
          </li>
          <li>
            <i>
              <img src="./../../../assets/img/icon-typescript.svg" alt="" />
            </i>
            <span>TypeScript</span>
          </li>
          <li>
            <i>
              <img src="./../../../assets/img/icon-angular.svg" alt="" />
            </i>
            <span>Angular</span>
          </li>
          <li>
            <i>
              <img src="./../../../assets/img/icon-firebase.svg" alt="" />
            </i>
            <span>Firebase</span>
          </li>
          <li>
            <i>
              <img src="./../../../assets/img/icon-git.svg" alt="" />
            </i>
            <span>GIT</span>
          </li>
          <li>
            <i>
              <img src="./../../../assets/img/icon-api.svg" alt="" />
            </i>
            <span>Rest-Api</span>
          </li>
          <li>
            <i>
              <img src="./../../../assets/img/icon-scrum.svg" alt="" />
            </i>
            <span>Scrum</span>
          </li>
          <li>
            <i>
              <img
                src="./../../../assets/img/icon-material-design.svg"
                alt=""
              />
            </i>
            <span>Material Design</span>
          </li>
          <li class="last-image">
            <div>
              <img
                class="icon-hover-purple"
                src="./../../../assets/img/icon-continually-learning.svg"
                alt=""
              />
              <img
                class="icon-hover-white"
                src="./../../../assets/img/icon-continually-learning-white.svg"
                alt=""
              />
            </div>
            <span>Continually learning</span>
          </li>
        </ul>
      </section>
      <section class="text-section media-bottom">
        <h1>My Skills</h1>
        <div class="description">
          <p>
            I have gained experience in building projects with different
            frontend technologies and concepts.
          </p>
          <div class="another-skill-container">
            <div class="another-skill-details">
              <h2>Loking for <span>another skill</span>?</h2>
              <p>
                Feel free to contact me. I look forward to expanding on my
                previous knowledge.
              </p>
            </div>
            <div class="btn-section">
              <a class="btn" href="#contact">Get in touch</a>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="purple-line min-w"></div>
  </div>
</main>
