main {
  position: relative;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.btn-section {
  display: flex;
  justify-content: flex-end;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.skills-container {
  display: flex;
}

.purple-line {
  position: relative;
  left: 0;
  top: 50px;
  height: 4px;
  background-color: #9747ff;
  flex-grow: 1;
  margin-left: 20px;
  border-radius: 2px 0 0 2px;
}

.min-w {
  min-width: 80px;
}

.text-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex-grow: 1;
  text-align: end;
  width: 100%;
  // flex: 1;
}

.skills-details {
  width: 100%;
  display: flex;
  gap: 100px;
  justify-content: space-between;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.another-skill-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: flex-end;
}

.another-skill-details {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

p {
  font-size: 16px;
  line-height: 19.2px;
  color: #ffffff;
}

h1 {
  font-size: 90px;
  font-weight: 700;
  line-height: 108px;
  color: #ffffff;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  color: #ffffff;
  > span {
    color: #9747ff;
  }
}

.image-section {
  width: 100%;
  flex-shrink: 1;
}

ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 79px;
  row-gap: 40px;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 12px;
  width: 88px;
  > span {
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    text-align: center;
    color: #ffffff;
  }
}

i {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 54px;
  height: 60px;
  &:hover {
    animation: shiftIcon 500ms ease-in 100ms;
  }
}

li:last-child {
  > span {
    color: #9747ff;
  }
}

.last-image:hover .icon-hover-purple {
  display: none;
}

.last-image:hover .icon-hover-white {
  display: inline-block;
}

.last-image:hover span {
  color: #ffffff;
}

.icon-hover-purple {
  display: inline-block;
}

.icon-hover-white {
  display: none;
}

.media {
  display: none;
}

@media (max-width: 1280px) {
  .skills-details {
    gap: 72px;
  }

  ul {
    width: 392px;
    column-gap: 64px;
  }
}

@media (max-width: 1080px) {
  ul {
    width: 100%;
    justify-content: space-evenly;
  }

  .media {
    display: flex;
  }

  .skills-details {
    flex-direction: column;
  }

  .media-bottom {
    > h1 {
      display: none;
    }
    > div {
      > p {
        display: none;
      }
    }

    .btn-section {
      justify-content: center;
    }

    h1 {
      font-size: 70px;
      line-height: 80px;
    }
  }

  .min-w {
    min-width: 44px;
  }
}

@media (max-width: 780px) {
  .min-w {
    min-width: 38px;
  }

  .purple-line {
    margin-left: 10px;
  }

  h1 {
    font-size: 45px;
    line-height: 54px;
  }

  .purple-line {
    top: 24px;
  }

  img {
    width: 48px;
    height: 48px;
  }

  h2 {
    font-size: 24px;
    line-height: 28.8px;
  }
}

@media (max-width: 580px) {
  ul {
    gap: 24px;
  }
}

@media (max-width: 480px) {
  .min-w {
    min-width: 24px;
    margin-left: 0;
  }

  .media h1 {
    margin-right: 10px;
  }

  .text-section {
    gap: 32px;
  }

  .skills-details {
    gap: 40px;
  }
}

@keyframes shiftIcon {
  0% {
    transform: translateY(0px);
  }

  20% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
