* {
  margin: 0;
  font-family: "Poppins";
  background: #141d2f;
}

html {
  scroll-behavior: smooth;
}

.p-top {
  padding-top: 124px;
}

.m-top {
  margin-top: 124px;
}

.m-auto {
  margin-left: auto;
  margin-right: auto;
}

.max-w {
  max-width: 1280px;
}

.min-w {
  min-width: 100px;
}

.w-full {
  width: 100%;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.invisible {
  opacity: 0;
}

.btn {
  background: #70e61c;
  padding: 15px 30px;
  font-size: 23px;
  line-height: 27.6px;
  border-radius: 10px;
  &:hover {
    background: #9747ff;
    transform: scale(1.2);
    transition: transform 100ms ease-in-out;
  }
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Poppins-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/Poppins-Bold.woff2") format("woff2");
}

@media (max-width: 1080px) {
  .btn {
    font-size: 16px;
    line-height: 19.2px;
  }
}
