<footer class="w-full m-top">
  <div class="footer-container">
    <div class="min-w"></div>
    <div class="footer-details max-w">
      <div class="logo-section width-container">
        <a href="" class="logo">CHRISTIAN</a>
        <div class="legal-notice dp"><a href="">Legal Notice</a></div>
      </div>
      <span>© Christian Kaden 2024</span>
      <div class="links width-container">
        <a href="https://github.com/" target="_blank"
          ><img src="assets/img/icon-gitHub.svg" alt=""
        /></a>
        <a href="mailto:christian.kaden.dev@gmail.com"
          ><img src="assets/img/icon-mail.svg" alt=""
        /></a>
        <a href="https://linkedin.com/" target="_blank"
          ><img src="assets/img/icon-linkedIn.svg" alt=""
        /></a>
      </div>
      <div class="legal-notice dp-media"><a href="">Legal Notice</a></div>
    </div>
    <div class="min-w"></div>
  </div>
</footer>
